---
title: Augmented Reality Analysis
hero_background_is_light: true
localizable: false
---
<section>
    <div class="container">
        <div class="row justify-content-center text-center mb-5 mt-5">
            <div class="col-xl-8 col-lg-9">
              <h2 class="display-4 mx-xl-6">Vantage Space™ is Using Augmented Reality to Visualize Workplace Utilization Data</h2>
              <p class="lead">View workplace analytics as you walk through your offices and meeting spaces</p>
              <p>Tuesday, February 20, London, United Kingdom</p>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-8">
              <script data-proofer-ignore src="https://fast.wistia.com/embed/medias/6r6xmubruu.jsonp" async></script><script data-proofer-ignore src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:75.0% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_6r6xmubruu videoFoam=true" style="height:100%;position:relative;width:100%">&nbsp;</div></div></div>
              <br />
              <p><a href="<%= data.site.address.production %>">Vantage Space</a> is prototyping an augmented reality analysis platform for workplace utilization and occupancy studies. Augmented Reality is the overlaying of digital images onto a real world view in real time through a camera of an electronic device.</p>
              <p>With traditional workplace reporting and analysis reporting, the context of the real environment and its occupants is easily lost. Vantage Space’s Augmented Reality Analysis™ (ARA)  prototype overlays pertinent, objective workplace analytic data onto office spaces in real time as the user tours the building. It is a visual and interactive way of exploring the data and bringing it to life. <a href="<%= data.site.address.production %>/augmented-reality">Watch how here</a>.</p>
              <br />
              <p><img src="/press/workplace-occupancy-augmented-reality-analysis.png" alt="Vantage Space ARA™ in Action"></p>
              <br />
              <p><em>“With augmented reality Vantage Space superimposes the utilization data of your workplace onto the real environment. This way you can make fully integrated decisions as you view statistical information and workplace analytics at the same time as the human and real-world context of the architecture and office space layout.”</em> says Monica Jayne, VP of Growth</p>
              <p>Vantage Space ARA™ offers new possibilities: tour with clients, supervisors, key stakeholders, and decision makers viewing various analytics displayed in real time. No more shuffling through papers, charts, and graphs or trying to recall the numbers. If a stakeholder cannot be there, ARA gives the option to record a tour and pass it on to them.</p>
              <p>With a picture of the occupancy and utilization study analysis overlaid onto the actual space, decisions become clear.</p>
              <p><img src="/press/workplace-occupancy-augmented-reality-analysis-time.png" alt="Screenshot of Vantage Space ARA™ Shows Occupancy at Selected Tour Times" /></p>
              <br />
              <p><em>“One way we imagine you using Augmented Reality Analysis by Vantage Space is in a discovery phase where it can be difficult to understand what is going on in your workplace by reviewing statistics and traditional charts in reports outside the context of the environment. Instead, take a walking tour to see where and why the data on paper is showing up in this way. ARA can lead you to the information that answers all of your questions.”</em> Monica Jayne, VP of Growth</p>
              <p>The interface displays data for any type of workspace: desks, meeting rooms, common areas, etc., that users can click to access graphical analysis and more information such as occupancy rate over time, unused meeting rooms, and activities and technologies that employees are using. Heat maps show activity hot spots and cool spots. View the overall data or drill down to specific days and times of the week.</p>
              <p>Vantage Space ARA allows users to stay in touch with the reality of office and meeting space by allowing realtime review in the actual space, while the Vantage Space Dashboard, as always, allows you to view your workplace analytics in a traditional way from anywhere.</p>
              <p>More information about Vantage Space, including free accounts for consultancies and enterprises, can be found on their website www.vantagespace.com.</p>
              <br />
              <h3>CONNECT WITH VANTAGE SPACE:</h3>
              <p>LinkedIn: <a href="https://www.linkedin.com/company/vantage-space">https://www.linkedin.com/company/vantage-space</a></p>
              <p>Twitter: <a href="https://twitter.com/vantagespace">@vantagespace</a></p>
              <br />
              <h3>ABOUT VANTAGE SPACE:</h3>
              <p>Vantage Space has developed the world’s #1 app for space utilization and occupancy studies. Used in 5 continents, 45 countries, and over 200 cities globally, they are a leader in technology for workplace strategy.</p>
              <p>With instant analysis and an enjoyable and efficient interface, users report time savings of up to 90% and average cost savings of 82%. Starting at $1 per workspace, the return on investment is over 500%.</p>
              <p>Learn more at <a href="<%= data.site.address.production %>">www.vantagespace.com</a>.</p>
              <p>Vantage Space and Augmented Reality Analysis are trademarks of Vantage Space Limited.</p>
              <br />
              <h3>MEDIA CONTACT:</h3>
              <p>
                <a href="#" data-proofer-ignore onclick="Intercom('showNewMessage', 'I have a question about your augmented reality analysis'); return false;">Contact us here</a>
              </p>
              <p>###</p>
            </div>
        </div>
    </div>
</section>
