<!doctype html>
<html lang="<%= t('meta.htmllang') %>">
<head>
  <%= partial 'head' %>
</head>
<body>
  <!-- <%#partial 'dev-banner' %> -->
  <div id="app" class="bg-takeover bg-regular">
    <div class="app-content">
      <!-- MENU -->
      <%= partial 'menu' %>
      <!-- /MENU -->
      <%= yield %>
      <!-- FOOTER -->
      <%= partial 'footer' %>
      <!-- /FOOTER -->
    </div>
    <!-- COOKIES -->
    <%= partial 'cookies' %>
    <!-- /COOKIES -->
  </div>
  <script src="/assets/javascripts/site.js"></script>
  <%= partial 'chatbox-body' %>
  <%= partial 'analytics-body' %>
</body>
</html>
