---
localizable: true
title: page.index.title
current_url_for_translation: /
---
<div data-home="" class="view-wrap">
  <div data-home="" class="view-content">
    <section id="hero" class="bg-regular">
      <div class="section-inner">
        <div class="container">
          <div class="content">
            <div class="copy">
              <h1><%= t('page.index.hero_title') -%></h1>
              <p><%= t('page.index.hero_subtitle') -%></p>
              <div class="btn-holder"><a href="<%= data.site.url_signup -%>" class="btn btn-lg"><%= t('content.signup_button') -%></a></div>
            </div>
            <div class="img-holder">
              <div class="vspace">
                <video autoplay="autoplay" muted="muted">
                  <source src="/static/media/hero-office.mp4" type="video/mp4">
                  <img src="/static/images/hero.jpg" alt="Floorplan with statistics" class="img">
                </video>
              </div>
              <div class="video-overlay">
                <!-- 21.7% meeting room usage -->
                <div class="callout-1">
                  <span class="metric">21.7%</span>
                  <span class="label"><%= t('page.index.hero_stat_1') -%></span>
                </div>
                <!-- 30.2% desk usage -->
                <div class="callout-2">
                  <span class="metric">30.2%</span>
                  <span class="label"><%= t('page.index.hero_stat_2') -%></span>
                </div>
              <div>
              <!-- On mobile devices an additional phone image is added to the Hero Image -->
              <img srcset="/static/images/phone2x.png 2x, /static/images/phone1x.png 1x" src="/static/images/phone2x.png" alt="Floorplan with statistics" class="device android">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section data-home="" id="recommended" class="bg-light">
      <div data-home="" class="section-inner">
        <div data-home="" class="element large centered content">
          <img data-home="" src="/static/images/ford.svg" alt="Ford">
          <img data-home="" src="/static/images/bosch.svg" alt="Bosch">
          <img data-home="" src="/static/images/pepsi.svg" alt="Pepsi">
          <img data-home="" src="/static/images/lego.svg" alt="Lego">
          <img data-home="" src="/static/images/steelcase.svg" alt="SteelCase">
        </div>
      </div>
    </section>
    <section data-home="" id="apps" class="bg-teal">
      <div class="section-inner content">
        <div class="img-holder other">
          <img srcset="/static/images/laptop2x.png 2x, /static/images/laptop1x.png 1x" src="/static/images/laptop2x.png" alt="Laptop showing the web app" class="laptop">
        </div>
        <div class="element xs centered text-center">
          <div data-home="" class="copy">
            <h2 data-home=""><%= t('page.index.apps_title') -%></h2>
            <p data-home=""><%= t('page.index.apps_subtitle') -%></p>
            <div data-home="" class="hidden-xs">
              <div data-home="" class="app-list">
                <div data-home="" class="app"><img data-home="" src="/static/images/windows.svg" alt="Windows icon">
                  <p data-home="" class="fine-print-lg">Windows</p>
                </div>
                <div data-home="" class="app"><img data-home="" src="/static/images/mac.svg" alt="macOS icon">
                  <p data-home="" class="fine-print-lg">Mac</p>
                </div>
                <div data-home="" class="app"><img data-home="" src="/static/images/ios.svg" alt="iOS icon">
                  <p data-home="" class="fine-print-lg">iOS</p>
                </div>
                <div data-home="" class="app"><img data-home="" src="/static/images/android.svg" alt="Android icon">
                  <p data-home="" class="fine-print-lg">Android</p>
                </div>
              </div><a data-home="" href="<%= data.site.url_signup -%>" class="btn btn-lg"><%= t('content.signup_button') -%></a>
            </div>
          </div>
        </div>
        <div class="img-holder other"><img srcset="/static/images/phone2x.png 2x, /static/images/phone1x.png 1x" src="/static/images/phone2x.png" alt="Phone showing the app" class="mobile">
          <img srcset="/static/images/tablet2x.png 2x, /static/images/tablet1x.png 1x" src="/static/images/tablet2x.png" alt="Tablet showing the app" class="tablet">
        </div>
      </div>
    </section>
    <section data-home="" id="content-list" class="bg-light tb-opt-1">
      <div data-home="" class="section-inner">
        <div data-home="" class="container">
          <h2 data-home="" class="text-center"><%= t('page.index.reasons_title') -%></h2>
          <div data-home="" class="content">
            <div data-home="" class="copy">
              <div data-home="" class="img-text">
                <img data-home="" src="/static/images/quick-setup.svg" alt="<%= t('page.index.reasons_quick_title') -%>">
                <div data-home="">
                  <h3 data-home="" class="h6"><%= t('page.index.reasons_quick_title') -%></h3>
                  <p data-home=""><%= t('page.index.reasons_quick_description') -%></p>
                </div>
              </div>
              <div data-home="" class="img-text"><img data-home="" src="/static/images/easy-to-use.svg" alt="<%= t('page.index.reasons_easy_title') -%>">
                <div data-home="">
                  <h3 data-home="" class="h6"><%= t('page.index.reasons_easy_title') -%></h3>
                  <p data-home=""><%= t('page.index.reasons_easy_description') -%></p>
                </div>
              </div>
              <div data-home="" class="img-text"><img data-home="" src="/static/images/low-cost.svg" alt="<%= t('page.index.reasons_cost_title') -%>">
                <div data-home="">
                  <h3 data-home="" class="h6"><%= t('page.index.reasons_cost_title') -%></h3>
                  <p data-home=""><%= t('page.index.reasons_cost_description', url_pricing: url_i18n('pricing')) -%></p>
                </div>
              </div>
            </div>
            <div data-home="" class="copy">
              <div data-home="" class="img-text">
                <img data-home="" src="/static/images/activity-and-technology.svg" alt="<%= t('page.index.reasons_tracking_title') -%>">
                <div data-home="">
                  <h3 data-home="" class="h6"><%= t('page.index.reasons_tracking_title') -%></h3>
                  <p data-home=""><%= t('page.index.reasons_tracking_description') -%></p>
                </div>
              </div>
              <div data-home="" class="img-text">
                <img data-home="" src="/static/images/savings-dashboard.svg" alt="<%= t('page.index.reasons_savings_title') -%>">
                <div data-home="">
                  <h3 data-home="" class="h6"><%= t('page.index.reasons_savings_title') -%></h3>
                  <p data-home=""><%= t('page.index.reasons_savings_description') -%></p>
                </div>
              </div>
              <div data-home="" class="img-text">
                <img data-home="" src="/static/images/powerful-analytics.svg" alt="<%= t('page.index.reasons_analytics_title') -%>">
                <div data-home="">
                  <h3 data-home="" class="h6"><%= t('page.index.reasons_analytics_title') -%></h3>
                  <p data-home=""><%= t('page.index.reasons_analytics_description') -%></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section data-world="" data-home="" id="world" class="bg-teal">
      <div data-world="" class="section-inner">
        <div data-world="" class="container">
          <div data-world="" class="row vertical-center">
            <div data-world="" class="world col-lg-5 hidden-xs"><img data-world="" srcset="/static/images/worldmap.png" alt="World map with locations of Vantage Space customers" class="earth-cutaway"></div>
            <div data-world="" class="text col-xs-12 col-md-7">
              <h1 data-world="" class="h3"><%= t('page.index.countries_title', country_count: data.site.stats.country_count) -%></h1>
              <p data-world=""><%= t('page.index.countries_description', city_count: data.site.stats.city_count) -%></p>
              <div data-world="" class="countries-container">
                <ul data-flags="" data-world="" class="countries clearfix">
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/us.svg" alt="<%= t('content.countries.usa') -%>"></div>
                    <p data-flags=""><%= t('content.countries.usa') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/uk.svg" alt="<%= t('content.countries.uk') -%>"></div>
                    <p data-flags=""><%= t('content.countries.uk') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/au.svg" alt="<%= t('content.countries.australia') -%>"></div>
                    <p data-flags=""><%= t('content.countries.australia') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/ca.svg" alt="<%= t('content.countries.canada') -%>"></div>
                    <p data-flags=""><%= t('content.countries.canada') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/cn.svg" alt="<%= t('content.countries.china') -%>"></div>
                    <p data-flags=""><%= t('content.countries.china') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/se.svg" alt="<%= t('content.countries.sweden') -%>"></div>
                    <p data-flags=""><%= t('content.countries.sweden') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/nl.svg" alt="<%= t('content.countries.netherlands') -%>"></div>
                    <p data-flags=""><%= t('content.countries.netherlands') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/sg.svg" alt="<%= t('content.countries.singapore') -%>"></div>
                    <p data-flags=""><%= t('content.countries.singapore') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/de.svg" alt="<%= t('content.countries.germany') -%>"></div>
                    <p data-flags=""><%= t('content.countries.germany') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/in.svg" alt="<%= t('content.countries.india') -%>"></div>
                    <p data-flags=""><%= t('content.countries.india') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/nz.svg" alt="<%= t('content.countries.new_zealand') -%>"></div>
                    <p data-flags=""><%= t('content.countries.new_zealand') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/hk.svg" alt="<%= t('content.countries.hong_kong') -%>"></div>
                    <p data-flags=""><%= t('content.countries.hong_kong') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/mx.svg" alt="<%= t('content.countries.mexico') -%>"></div>
                    <p data-flags=""><%= t('content.countries.mexico') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/dk.svg" alt="<%= t('content.countries.denmark') -%>"></div>
                    <p data-flags=""><%= t('content.countries.denmark') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/es.svg" alt="<%= t('content.countries.spain') -%>"></div>
                    <p data-flags=""><%= t('content.countries.spain') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/pl.svg" alt="<%= t('content.countries.poland') -%>"></div>
                    <p data-flags=""><%= t('content.countries.poland') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/it.svg" alt="<%= t('content.countries.italy') -%>"></div>
                    <p data-flags=""><%= t('content.countries.italy') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/ch.svg" alt="<%= t('content.countries.switzerland') -%>"></div>
                    <p data-flags=""><%= t('content.countries.switzerland') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/jp.svg" alt="<%= t('content.countries.japan') -%>"></div>
                    <p data-flags=""><%= t('content.countries.japan') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/fr.svg" alt="<%= t('content.countries.france') -%>"></div>
                    <p data-flags=""><%= t('content.countries.france') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/ar.svg" alt="<%= t('content.countries.argentina') -%>"></div>
                    <p data-flags=""><%= t('content.countries.argentina') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/ru.svg" alt="<%= t('content.countries.russia') -%>"></div>
                    <p data-flags=""><%= t('content.countries.russia') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/co.svg" alt="<%= t('content.countries.colombia') -%>"></div>
                    <p data-flags=""><%= t('content.countries.colombia') -%></p>
                  </li>
                  <li data-flags="" class="country rows">
                    <div data-flags="" class="flag"><img src="/static/images/flags/cz.svg" alt="<%= t('content.countries.czechia') -%>"></div>
                    <p data-flags=""><%= t('content.countries.czechia') -%></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section data-home="" id="everything-you-need" class="bg-light">
      <div data-home="" class="section-inner">
        <div data-home="" class="container">
          <h2 data-home="" class="text-center"><%= t('page.index.features_title') -%></h2>
          <div data-home="" class="content">
            <div data-home="" class="img-holder hidden-xs">
              <img data-home="" src="/static/images/everything-you-need-3.svg" alt="<%= t('page.index.features_title') -%>"></div>
            <div data-home="" class="copy">
              <div data-home="" class="img-text">
                <img data-home="" src="/static/images/existing-devices-116.svg" alt="<%= t('page.index.features_devices_title') -%>">
                <div data-home="">
                  <h3 data-home="" class="h6"><%= t('page.index.features_devices_title') -%></h3>
                  <p data-home=""><%= t('page.index.features_devices_description') -%></p>
                </div>
              </div>
              <div data-home="" class="img-text">
                <img data-home="" src="/static/images/instant-reports-116.svg" alt="<%= t('page.index.features_reports_title') -%>">
                <div data-home="">
                  <h3 data-home="" class="h6"><%= t('page.index.features_reports_title') -%></h3>
                  <p data-home=""><%= t('page.index.features_reports_description') -%></p>
                </div>
              </div>
              <div data-home="" class="img-text">
                <img data-home="" src="/static/images/full-data-access-116.svg" alt="<%= t('page.index.features_data_title') -%>">
                <div data-home="">
                  <h3 data-home="" class="h6"><%= t('page.index.features_data_title') -%></h3>
                  <p data-home=""><%= t('page.index.features_data_description') -%></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section data-home="" id="savings">
      <div data-home="" class="section-inner">
        <div data-home="" class="container">
          <div data-home="" class="content">
            <div data-home="" class="copy">
              <div data-home="" class="copy-inner">
                <h2 data-home=""><%= t('page.index.savings_title') -%></h2>
                <p data-home="">
                  <%= t('page.index.savings_description') -%>
                  <ul>
                    <li><%= t('page.index.savings_1') -%></li>
                    <li><%= t('page.index.savings_2') -%></li>
                    <li><%= t('page.index.savings_3') -%></li>
                  </ul>
                  <a href="<%= data.site.url_signup -%>" class="btn btn-lg"><%= t('content.signup_button') -%></a>
                </p>
              </div>
            </div>
            <div data-home="" class="img-holder">
              <img data-home="" alt="<%= t('page.index.savings_title') -%>" src="/static/images/savings-trees.svg">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section data-home="" id="FAQ" class="bg-light">
      <div data-home="" class="section-inner">
        <div data-home="" class="container">
          <div data-home="" class="content">
            <h2 data-home="" class="text-center"><%= t('page.index.faq_title') -%></h2>
            <ul data-home="" class="faq">
              <li data-home="">
                <div data-home="" class="container">
                  <button data-home="" class="faq-title btn plain dark" onclick="this.parentElement.classList.toggle('expanded')">
                    <%= t('page.index.faq_1_title') -%>
                    <img data-home="" src="/static/images/plus.png" alt="expand list item" class="">
                  </button>
                  <div data-home="" class="faq-content">
                    <p><%= t('page.index.faq_1_description') -%></p>
                  </div>
                </div>
              </li>
              <li data-home="">
                <div data-home="" class="container">
                  <button data-home="" class="faq-title btn plain dark" onclick="this.parentElement.classList.toggle('expanded')">
                    <%= t('page.index.faq_2_title') -%>
                    <img data-home="" src="/static/images/plus.png" alt="expand list item" class="">
                  </button>
                  <div data-home="" class="faq-content">
                    <p><%= t('page.index.faq_2_description') -%></p>
                  </div>
                </div>
              </li>
              <li data-home="">
                <div data-home="" class="container">
                  <button data-home="" class="faq-title btn plain dark" onclick="this.parentElement.classList.toggle('expanded')">
                    <%= t('page.index.faq_3_title') -%>
                    <img data-home="" src="/static/images/plus.png" alt="expand list item" class="">
                  </button>
                  <div data-home="" class="faq-content">
                    <p><%= t('page.index.faq_3_description') -%></p>
                  </div>
                </div>
              </li>
              <li data-home="">
                <div data-home="" class="container">
                  <button data-home="" class="faq-title btn plain dark" onclick="this.parentElement.classList.toggle('expanded')">
                    <%= t('page.index.faq_4_title') -%>
                    <img data-home="" src="/static/images/plus.png" alt="expand list item" class="">
                  </button>
                  <div data-home="" class="faq-content">
                    <p><%= t('page.index.faq_4_description') -%></p>
                  </div>
                </div>
              </li>
              <li data-home="">
                <div data-home="" class="container">
                  <button data-home="" class="faq-title btn plain dark" onclick="this.parentElement.classList.toggle('expanded')">
                    <%= t('page.index.faq_5_title') -%>
                    <img data-home="" src="/static/images/plus.png" alt="expand list item" class="">
                  </button>
                  <div data-home="" class="faq-content">
                    <p><%= t('page.index.faq_5_description') -%></p>
                  </div>
                </div>
              </li>
              <li data-home="">
                <div data-home="" class="container">
                  <button data-home="" class="faq-title btn plain dark" onclick="this.parentElement.classList.toggle('expanded')">
                    <%= t('page.index.faq_6_title') -%>
                    <img data-home="" src="/static/images/plus.png" alt="expand list item" class="">
                  </button>
                  <div data-home="" class="faq-content">
                    <p><%= t('page.index.faq_6_description') -%></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section> -->
    <section data-home="" id="download" class="bg-teal">
      <div data-home="" class="section-inner">
        <div data-home="" class="container text-center">
          <div data-home="" class="element copy centered">
            <h2 data-home=""><%= t('content.create_account_today') -%></h2>
            <a data-home="" href="<%= data.site.url_signup -%>" class="btn btn-lg"><%= t('content.signup_button') -%></a>
            <br /><br /><br /><br />
            <i>No credit card required</i>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
