---
localizable: true
title: page.glossary.title
---
<div class="view-wrap">
  <div class="view-content">
    <section class="top-section smaller">
      <div class="section-inner">
        <h1 class="text-center"><%= t(current_page.data.title) -%></h1>
        <p>Handy reference for terms used in space utilization studies</p>
      </div>
    </section>
    <section>
      <dl>
        <% data.industry_terms.each do |industry_term| %>
        <dt class="col-sm-3"><%= industry_term.term -%></dt>
        <dd class="col-sm-9"><%= industry_term.description -%></dd>
        <% end %>
      </dl>
    </section>
  </div>
</div>
