---
localizable: true
title: page.pricing.title
current_url_for_translation: pricing
---
<div data-pricing="" class="view-wrap">
  <div data-pricing="" class="view-content select-medium">
    <section data-pricing="" class="top-section smaller">
      <div data-pricing="" class="section-inner">
        <h1 data-pricing="" class="text-center"><%= t('page.pricing.hero_title') -%></h1>
        <div data-pricing="" class="mobile-menu">
          <button data-pricing="" class="select-small-btn" select="select-small" onclick="document.getElementsByClassName('view-content')[0].classList=('view-content select-small');"><%= t('page.pricing.small') -%></button>
          <button data-pricing="" class="select-medium-btn" select="select-medium" onclick="document.getElementsByClassName('view-content')[0].classList=('view-content select-medium')"><%= t('page.pricing.medium') -%></button>
          <button data-pricing="" class="select-large-btn" select="select-large" onclick="document.getElementsByClassName('view-content')[0].classList=('view-content select-large')"><%= t('page.pricing.large') -%></button>
        </div>
      </div>
    </section>

    <section id="vs-plans">
      <div class="section-inner">
        <div class="plans">
          <div class="item-small item-column">
            <div class="vspace-pic">
              <div class="vspace-img-wrap small">
                <img alt="Small building" src="/static/images/small.png" ></div>
              <h2 class="h2"><%= t('page.pricing.small') -%></h2>
            </div>
            <div class="inner-wrap">
              <div class="inner">
                <div class="content">
                  <p><%= t('page.pricing.small_workspaces') -%></p>
                  <div class="pricing">
                    <p><span class="amount"><%= price_i18n(250) -%></span><%= t('page.pricing.per_study') -%></p>
                  </div>
                  <a href="https://my.vantagespace.com/sign_up" class="btn btn-lg" aria-label="Sign up to Vantage Space for free"><%= t('page.pricing.get_started_button') -%></a>
                </div>
              </div>
            </div>
          </div>
          <div class="item-medium item-column">
            <div class="vspace-pic">
              <div class="vspace-img-wrap medium">
                <img alt="Medium building"  src="/static/images/medium.png"></div>
              <h2 class="h2"><%= t('page.pricing.medium') -%></h2>
            </div>
            <div class="inner-wrap">
              <div class="inner">
                <div class="content">
                  <p><%= t('page.pricing.medium_workspaces') -%></p>
                  <div class="pricing">
                    <p><span class="amount"><%= price_i18n(500) -%></span><%= t('page.pricing.per_study') -%></p>
                  </div>
                  <a href="https://my.vantagespace.com/sign_up" class="btn btn-lg" aria-label="Sign up to Vantage Space for free"><%= t('page.pricing.get_started_button') -%></a>
                </div>
              </div>
            </div>
          </div>
          <div class="item-large item-column">
            <div class="vspace-pic">
              <div class="vspace-img-wrap large">
                <img alt="Large building" src="/static/images/large.png"></div>
              <h2 class="h2"><%= t('page.pricing.large') -%></h2>
            </div>
            <div class="inner-wrap">
              <div class="inner">
                <div class="content">
                  <p><%= t('page.pricing.large_workspaces', thousand_separator: t('setting.thousand_separator')) -%></p>
                  <div class="pricing">
                    <p><span class="amount"><%= price_i18n("1000") -%></span><%= t('page.pricing.per_study') -%></p>
                  </div>
                  <a href="https://my.vantagespace.com/sign_up" class="btn btn-lg" aria-label="Sign up to Vantage Space for free"><%= t('page.pricing.get_started_button') -%></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <p><%= t('page.pricing.comes_with') -%></p>
          <ul class="check-list">
            <li><%= t('page.pricing.with_users') -%></li>
            <li><%= t('page.pricing.with_ios') -%></li>
            <li><%= t('page.pricing.with_android') -%></li>
            <li><%= t('page.pricing.with_dashboard') -%></li>
            <li><%= t('page.pricing.with_export') -%></li>
            <li><%= t('page.pricing.with_api') -%></li>
            <li><%= t('page.pricing.with_weeks') -%></li>
            <li><%= t('page.pricing.with_support') -%></li>
          </ul>
        </div>
        <div class="">
          <p><%= t('page.pricing.custom_question') -%> <a href="#" data-proofer-ignore="" onclick="$crisp.push(['do', 'chat:open']); return false;"><%= t('page.pricing.custom_cta') -%></a></p>
        </div>
        <div class="payment-info">
          <img alt="Payment types accepted" src="/static/images/payment_cards_accepted.svg" class="payment-img">
          <p class="fine-print payment-note col-xs-12"><%= t('page.pricing.shown_in', currency_code: t('setting.currency_code')) -%></p>
        </div>
        <div class="testimony testimonial">
          <!-- <img alt="Testimonial" src="https://dummyimage.com/136x136&text=136x136+testimonial"> -->
          <img alt="Testimonial" src="/static/images/fortune500.png">
          <blockquote class="text-center">
            <p class="quote">
              <%= t('page.pricing.testimonial_1_text') -%>
            </p>
            <p><strong><%= t('page.pricing.testimonial_1_author') -%></strong></p>
          </blockquote>
        </div>
        <div class="testimony testimonial">
          <!-- <img alt="Testimonial" src="https://dummyimage.com/136x136&text=136x136+testimonial"> -->
          <img alt="Testimonial" src="/static/images/RICS_logo.png">
          <blockquote class="text-center">
            <p class="quote">
              <%= t('page.pricing.testimonial_2_text') -%>
            </p>
            <p><strong><%= t('page.pricing.testimonial_2_author') -%></strong></p>
          </blockquote>
        </div>
        <!-- <div class="faq-section">
          <div class="container">
            <h2><%= t('page.pricing.faq_title') -%></h2>
            <div class="faqs">
              <div class="faq">
                <h6><%= t('page.pricing.faq_1_title') -%></h6>
                <p><%= t('page.pricing.faq_1_description') -%></p>
              </div>
              <div class="faq">
                <h6><%= t('page.pricing.faq_2_title') -%></h6>
                <p><%= t('page.pricing.faq_2_description') -%></p>
              </div>
              <div class="faq">
                <h6><%= t('page.pricing.faq_3_title') -%></h6>
                <p><%= t('page.pricing.faq_3_description') -%></p>
              </div>
              <div class="faq">
                <h6><%= t('page.pricing.faq_4_title') -%></h6>
                <p><%= t('page.pricing.faq_4_description') -%></p>
              </div>
              <div class="faq">
                <h6><%= t('page.pricing.faq_5_title') -%></h6>
                <p><%= t('page.pricing.faq_5_description', country_count: data.site.stats.country_count, city_count: data.site.stats.city_count) -%></p>
              </div>
              <div class="faq">
                <h6><%= t('page.pricing.faq_6_title') -%></h6>
                <p><%= t('page.pricing.faq_6_description') -%></p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </section>
    <section data-home="" id="download" class="bg-teal">
      <div data-home="" class="section-inner">
        <div data-home="" class="container text-center">
          <div data-home="" class="element copy centered">
            <h2 data-home=""><%= t('content.create_account_today') -%></h2>
            <a data-home="" href="<%= data.site.url_signup -%>" class="btn btn-lg"><%= t('content.signup_button') -%></a>
            <br /><br /><br /><br />
            <i>No credit card required</i>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
