#app > .app-content > .view-wrap:not(.page-element) > .view-content {
    min-height: 92vh
}

#app:not(.bg-takeover) > .app-content > .view-wrap:not(.page-element) > .view-content:not(.bg-override) {
    background-color: #fff
}

@media only screen and (max-width:767px) {
    #app.no-scroll {
        overflow: hidden !important;
        height: 100vh !important;
        width: 100% !important
    }
}
