// $font: Quicksand;
// $font: Nunito;
// $font: NunitoSans;
$font: Manrope;

@font-face {
    font-family: Manrope;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url(/static/fonts/Manrope-Regular.ttf)
}

@font-face {
    font-family: Manrope;
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url(/static/fonts/Manrope-Medium.ttf)
}

@font-face {
    font-family: Manrope;
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url(/static/fonts/Manrope-SemiBold.ttf)
}

@font-face {
    font-family: Manrope;
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url(/static/fonts/Manrope-Bold.ttf)
}
@font-face {
    font-family: Manrope;
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    src: url(/static/fonts/Manrope-ExtraBold.ttf)
}

// @font-face {
//     font-family: Quicksand;
//     font-display: swap;
//     font-style: normal;
//     font-weight: 400;
//     src: url(/static/fonts/Quicksand-Regular.ttf)
// }
//
// @font-face {
//     font-family: Quicksand;
//     font-display: swap;
//     font-style: normal;
//     font-weight: 500;
//     src: url(/static/fonts/Quicksand-Medium.ttf)
// }
//
// @font-face {
//     font-family: Quicksand;
//     font-display: swap;
//     font-style: normal;
//     font-weight: 600;
//     src: url(/static/fonts/Quicksand-SemiBold.ttf)
// }
//
// @font-face {
//     font-family: Quicksand;
//     font-display: swap;
//     font-style: normal;
//     font-weight: 700;
//     src: url(/static/fonts/Quicksand-Bold.ttf)
// }
//
// @font-face {
//     font-family: Nunito;
//     font-display: swap;
//     font-style: normal;
//     font-weight: 400;
//     src: url(/static/fonts/Nunito-Regular.ttf)
// }
//
// @font-face {
//     font-family: Nunito;
//     font-display: swap;
//     font-style: normal;
//     font-weight: 600;
//     src: url(/static/fonts/Nunito-SemiBold.ttf)
// }
//
// @font-face {
//     font-family: Nunito;
//     font-display: swap;
//     font-style: normal;
//     font-weight: 700;
//     src: url(/static/fonts/Nunito-Bold.ttf)
// }
//
// @font-face {
//     font-family: NunitoSans;
//     font-display: swap;
//     font-style: normal;
//     font-weight: 400;
//     src: url(/static/fonts/NunitoSans-Regular.ttf)
// }
//
// @font-face {
//     font-family: NunitoSans;
//     font-display: swap;
//     font-style: normal;
//     font-weight: 600;
//     src: url(/static/fonts/NunitoSans-SemiBold.ttf)
// }
//
// @font-face {
//     font-family: NunitoSans;
//     font-display: swap;
//     font-style: normal;
//     font-weight: 700;
//     src: url(/static/fonts/NunitoSans-Bold.ttf)
// }
