@import 'vs-colors';
@import 'fonts';
@import 'reset';
@import 'layout';
@import 'navigation';
@import 'app';
@import 'footer';
@import 'home';
@import 'pricing';

// #dev-banner {
//   padding: 15px;
//   background-image:
//     repeating-linear-gradient(315deg,
//       yellow,
//       yellow 20px,
//       black 20px,
//       black 40px);
//
//   a {
//     color: #ffffff;
//     font-weight: bold;
//     background-color: black;
//     padding: 5px;
//   }
// }

[v-cloak] {
  display: none !important;
}
