<% if production? %>
  <!-- Adroll -->
  <script type="text/javascript">
    adroll_adv_id = "VLJP3XORTRGP7BB7HFNF64";
    adroll_pix_id = "H5R765S6LBAYTGPWSNQ4UV";
    (function () {
      var _onload = function(){
              if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
              if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
              var scr = document.createElement("script");
              var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
              scr.setAttribute('async', 'true');
              scr.type = "text/javascript";
              scr.src = host + "/j/roundtrip.js";
              ((document.getElementsByTagName('head') || [null])[0] ||
                  document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
          };
          if (window.addEventListener) {window.addEventListener('load', _onload, false);}
          else {window.attachEvent('onload', _onload)}
    }());
  </script>

  <!-- Leady -->
  <script type="text/javascript">
  	var leady_track_key="Rv3oFe87PoYRFCd9";
  	(function(){
  		var l=document.createElement("script");l.type="text/javascript";l.async=true;
  		l.src='https://t.leady.com/'+leady_track_key+"/L.js";
  		var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(l,s);
  	})();
  </script>

  <!-- Google Code for Remarketing Tag -->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 879043359;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/879043359/?value=0&guid=ON&script=0"/>
  </div>
  </noscript>

  <!-- Twitter -->
  <script>
  !function(e,n,u,a){e.twq||(a=e.twq=function(){a.exe?a.exe.apply(a,arguments):
  a.queue.push(arguments);},a.version='1',a.queue=[],t=n.createElement(u),
  t.async=!0,t.src='//static.ads-twitter.com/uwt.js',s=n.getElementsByTagName(u)[0],
  s.parentNode.insertBefore(t,s))}(window,document,'script');
  // Insert Twitter Pixel ID and Standard Event data below
  twq('init','nv6c1');
  twq('track','PageView');
  </script>

  <!-- Hubspot Prospects -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2302810.js"></script>
<% end %>
