<div data-cookies="">
  <div data-cookies="">
    <div data-cookies="" class="view-content">
      <section data-cookies="" class="banner-wrap no-padding visible">
        <div data-cookies="" class="banner-inner section-inner">
          <div data-cookies="" class="banner-content">
            <div data-cookies="" class="text-img">
              <img data-cookies="" alt="Cookie icon" src="/static/images/cookie.svg">
              <div data-cookies="" class="txt">
                <p data-cookies="" class="small-copy">
                  <%= t('content.cookies_message', url_privacy: data.site.url_privacy) -%>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
