<% unless production? %>
<!-- START: Dev banner -->
<section id="dev-banner">
  <a href="<%= data.site.address.production %>">
    This is a development version of the site. Click here to see the live site.
  </a>
</section>
<!-- END: Dev banner -->
<% end %>
