<div data-footer="" id="footer" class="view-wrap page-element bg-dark">
    <div data-footer="" class="view-content">
        <section data-footer="" class="smaller">
            <div data-footer="" class="section-inner">
                <div data-footer="" class="container">
                    <div data-footer="" class="footer-content">
                        <div data-footer="" class="footer-column">
                            <h6 data-footer="">Vantage Space</h6>
                            <ul data-footer="">
                                <li data-footer=""><a data-footer="" href="<%= url_i18n('pricing') -%>" class=""><%= t('menu.pricing') -%></a></li>
                                <li data-footer=""><a data-footer="" href="#" data-proofer-ignore onclick="$crisp.push(['do', 'chat:open']); return false;"><%= t('menu.support') -%></a></li>
                                <li data-footer=""><a data-footer="" href="<%= data.site.url_login -%>" class=""><%= t('menu.account') -%></a></li>
                            </ul>
                        </div>
                        <div data-footer="" class="footer-column">
                            <h6 data-footer=""><%= t('menu.apps') -%></h6>
                            <ul data-footer="">
                                <li data-footer=""><a data-footer="" href="<%= data.site.url_login -%>" class=""><%= t('menu.web_app') -%></a></li>
                                <li data-footer=""><a data-footer="" href="<%= data.site.url_appstore_ipad -%>" class="">iPad</a></li>
                                <li data-footer=""><a data-footer="" href="<%= data.site.url_appstore_android -%>" class="">Android</a></li>
                            </ul>
                        </div>
                        <div data-footer="" class="footer-column">
                            <h6 data-footer=""><%= t('menu.company') -%></h6>
                            <ul data-footer="">
                                <li data-footer=""><a data-footer="" href="#" data-proofer-ignore onclick="$crisp.push(['do', 'chat:open']); return false;"><%= t('menu.support') -%></a></li>
                                <li data-footer=""><a data-footer="" href="<%= data.site.url_terms -%>" class=""><%= t('menu.terms') -%></a></li>
                                <li data-footer=""><a data-footer="" href="<%= data.site.url_privacy -%>" class=""><%= t('menu.privacy') -%></a></li>
                            </ul>
                        </div>
                        <div data-footer="" class="footer-column">
                            <h6 data-footer=""><%= t('menu.follow') -%></h6>
                            <ul data-footer="" class="horizontal">
                                <li data-footer=""><a data-footer="" href="<%= data.site.url_linkedin -%>" class="icon-parent"><i data-footer="" class="icon icon-linkedin"><span data-footer="">LinkedIn</span></i></a></li>
                                <li data-footer=""><a data-footer="" href="<%= data.site.url_twitter -%>" class="icon-parent"><i data-footer="" class="icon icon-twitter"><span data-footer="">Twitter</span></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div data-footer="" id="signature" class="text-center"><img data-footer="" alt="Vantage Space logo" src="/static/images/vantage-space-logo-30.svg">
                        <script>
                            document.getElementById("year").innerHTML = new Date().getFullYear();
                        </script>
                        <p data-footer="">&copy; <span id="year"><%= Date.today.year -%></span> Vantage Space Limited</p>
                        <!-- <p data-footer=""><a href="/choose-country-region">Choose your country or region</a></p> -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
