<%= partial 'meta-tags' %>
<% if current_page.data.localizable %>
<title><%= t(current_page.data.title) -%></title>
<% else %>
<title><%= current_page.data.title -%></title>
<% end %>
<%= partial 'favicons' %>
<%= stylesheet_link_tag "site" %>
<%= javascript_include_tag "site" %>
<% if production? %>
  <%= partial 'analytics-head' %>
<% end %>
