<% if false %>
  If your link doesn't go anywhere, don't use an <a> element. Use a <span> or something else appropriate and add CSS (:hover) to style it as you wish.
  <style>
  span.link {
      color: #000000; /* Change this with links color*/
      cursor: pointer;
      text-decoration: underline;
  }

  span:hover.link {
      color: #444444; /* Change the value to with anchors hover color*/
  }
  </style>
  <span class="link {{ include.class }}" onclick="Intercom('showNewMessage', '{{ include.message }}')">{{ include.link-text }}</span>
<% end %>
<a href="#" data-proofer-ignore onclick="Intercom('showNewMessage', '<%= message %>')"><%= link_text %></a>
