<div>
  <div class="nav-wrap">
    <nav id="main-header">
      <div class="nav-inner clearfix complex">
        <div class="top-bar">
          <a href="<%= url_i18n('/') -%>" class="logo router-link-exact-active router-link-active">
            <img src="/static/images/vantage-space-logo-30.svg" alt="Vantage Space" class="hidden-xs">
            <!--TODO: Maybe use a different logo for mobile devices (just the Yellow Dot) -->
            <img src="/static/images/vantage-space-logo-mobile.svg" alt="Vantage Space" class="visible-xs">
          </a>
          <button id="mobile-menu" aria-label="menu" class="plain" onclick="document.getElementsByClassName('drawer')[0].classList.toggle('mobile-open');"></button>
        </div>
        <div class="drawer">
          <div aria-hidden="true" class="screen"></div>
          <div id="nav-items">
            <div class="mobile-controls"><button aria-label="close navigation" class="plain link right close"  onclick="document.getElementsByClassName('drawer')[0].classList.toggle('mobile-open');"></button></div>
            <div class="nav-menu">
              <div class="nav-item"><a href="<%= url_i18n('pricing') -%>" class=""><%= t('menu.pricing') -%></a></div>
              <div class="nav-item"><a href="#" data-proofer-ignore onclick="$crisp.push(['do', 'chat:open']); return false;"><%= t('menu.support') -%></a></div>
              <div class="nav-item"><a href="<%= data.site.url_login -%>" class=""><%= t('menu.account') -%></a></div>
              <div class="nav-item bottom"><a href="<%= data.site.url_signup -%>" class="btn"><%= t('content.signup_button') -%></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-inner minimal">
        <div class="top-bar"><a href="/" class="logo router-link-exact-active router-link-active"><img src="/static/images/vantage-space-logo-black.svg" alt="Vantage Space"></a></div>
      </div>
    </nav>
  </div>
</div>
