<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="The world's #1 app for space utilization studies with 90% less time, 82% less cost, instant analysis."/>
<% if current_page.data.localizable %>
  <%- langs.each do |locale| %>
    <% I18n.with_locale(locale) do %>
      <% next unless t('meta.hreflang') %>
      <link rel="alternate" hreflang="<%= t('meta.hreflang') %>" href="<%= url_i18n(current_page.data.current_url_for_translation, locale) -%>" />
    <% end %>
  <% end %>
  <link rel="alternate" hreflang="en" href="<%= url_i18n(current_page.data.current_url_for_translation, :global) -%>" />
<% end -%>
<% if t('meta.oglocale') -%>
<meta property="og:locale" content="<%= t('meta.oglocale') %>" />
<% end -%>
<% if current_page.data.localizable %>
<%- langs.each do |locale| %>
    <% I18n.with_locale(locale) do %>
      <% next unless t('meta.oglocale') %>
      <meta property="og:locale:alternate" content="<%= t('meta.oglocale') %>" />
    <% end %>
  <% end %>
<% end -%>
<meta property="og:type" content="website" />
<meta property="og:title" content="The world’s #1 app for space utilization studies" />
<meta property="og:description" content="Reinventing space utilization studies with 90% less time, 82% less cost, instant analysis." />
<meta property="og:url" content="<%= data.site.address.production %>" />
<meta property="og:site_name" content="Vantage Space" />
<meta property="og:image" content="/static/images/vantage-space-logo-black.svg"/>
<meta name="twitter:card" content="”summary_large_image”" />
<meta name="twitter:site" content="@vantagespace">
<meta name="twitter:creator" content="@vantagespace">
<meta name="twitter:title" content="The world’s #1 app for space utilization studies" />
<meta name="twitter:description" content="Reinventing space utilization studies with 90% less time, 82% less cost, instant analysis." />
<meta itemprop="name" content="Vantage Space">
<meta itemprop="description" content="Reinventing space utilization studies with 90% less time, 82% less cost, instant analysis." id="twitter-description">
